#home .carousel {
    background-color: #e2413e;
}

#home-reason {
    padding: 2rem;
}

#home-reason .row {
    margin: 2rem 0 2rem 0 !important;
}

#home-reason .card{
    border-style: solid;
    border-top-width: 0.3rem;
    border-top-color: orange;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.3);
    transform:translate(0, 0);
    height: 100%;
    width: 20rem !important;
    padding-top: 2rem;
    margin: 0 auto;
}

#home-reason .card:hover {
    box-shadow: 10px 10px 5px #e8e3e3;
    transform:translate(0, -0.15rem);
}

#home-reason .card-img-top {
    width: 30%;
    margin: auto;
}