/** also for the fu*k IE */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    width: 1170px !important;
}

#wrap {
    width: 100%;
}

body {
    min-width: 1170px;
    font-weight: normal;
    font-size: 12px;
}